.active-btn{
  background-color: blue;
  color:white;
  border:1px solid blue;
}
button{
  border:1px solid lightgray;
  border-radius: 0px;
  padding:10px;
  cursor: pointer;
}
table{
  width:100%;
}
tr th{
  text-align: left;
  background-color: blue;
  padding:10px;
  color:white;
}
tr td{
  padding:10px;
}
tr:nth-child(even){
  background-color: lightgray;
}
tr:hover{
  background-color: gray;
}
select{
  padding:10px;
}